*.pyc
*~
.directory
pysped/nfe/manual_300/schema/*-original
pysped/nfe/manual_300/schema/*-original/*
pysped/nfe/manual_401/schema/*-original
pysped/nfe/manual_401/schema/*-original/*

# build artifacts from python setup.py build or python setup.py install
build/
dist/
*egg*/
docs/_build
